<ul class="list-group">
  <li class="list-group-item"><a href="http://geant4.cern.ch" target="blank">Geant4</a></li>
  <li class="list-group-item"><a href="https://web.infn.it/Geant4-INFN" target="blank">Geant4 INFN</a></li>
  <li class="list-group-item"><a href="http://home.infn.it/it/" target="blank">INFN</a></li>
  <li class="list-group-item"><a href="http://www.roma1.infn.it/" target="blank">INFN Roma</a></li>
  <li class="list-group-item"><a href="http://arpg-serv.ing2.uniroma1.it/arpg-site/" target="blank">Applied Radiation Physics Group</a></li>
  <li class="list-group-item"><a href="https://github.com/carlomt/" target="blank">My profile on GitHub</a></li>
  <li class="list-group-item"><a href="https://baltig.infn.it/mancinit" target="blank">My profile on Baltig</a></li>
  <li class="list-group-item"><a href="https://twitter.com/carlomt" target="blank">Twitter</a></li>
</ul>
