<ul class="list-group">
  <li class="list-group-item"><a href="https://web.infn.it/Geant4-INFN">Geant4 INFN</a></li>
  <li class="list-group-item"><a href="http://home.infn.it/it/">INFN Italia</a></li>
  <li class="list-group-item"><a href="http://www.roma1.infn.it/">INFN Roma</a></li>
  <li class="list-group-item"><a href="http://arpg-serv.ing2.uniroma1.it/arpg-site/">Applied Radiation Physics Group</a></li>
  <li class="list-group-item"><a href="https://github.com/carlomt/">My profile on GitHub</a></li>
  <li class="list-group-item"><a href="https://baltig.infn.it/mancinit">My profile on Baltig</a></li>
</ul>
