# # Options +FollowSymLinks
# RewriteEngine On
# # Simple passthru for existing files (so we can still get to files that exist!)
# #RewriteCond %{REQUEST_FILENAME} -s [OR] RewriteCond %{REQUEST_FILENAME} -l [OR] RewriteCond %{REQUEST_FILENAME} -d RewriteRule ^.*$ - [NC,L]
# # Rewrite anything to index.php?action=anything (http://site/test -> http://site/index.php?action=test)
# # RewriteRule ^(.*)$ index.php?page=$1
# # RewriteRule ^page/(.*)$ http://www.roma1.infn.it/~mancinit/index.php?action=$RewriteCond %{HTTP_HOST} example.com$ [NC]1

# # RewriteRule ^(.*)$ http://www.roma1.infn.it/~mancinit/index.php?page=$1 [R,L]
# # RewriteCond %{HTTP_HOST} www.roma1.infn.it/~mancinit/$ [NC]
# # RewriteCond %{HTTP_HOST} !?action=
# # RewriteRule ^(.*)$ http://www.roma1.infn.it/~mancinit/?action=$1

<IfModule mod_rewrite.c>
   SetEnv HTTP_MOD_REWRITE On

   RewriteEngine on

   RewriteCond %{REQUEST_FILENAME} !-f
   RewriteCond %{REQUEST_FILENAME} !-d
   RewriteRule ^(.*)$ 		http://www.roma1.infn.it/~mancinit/index.php?action=$1			[NC,L,QSA]
   RewriteRule ^post/(.*)$ 	http://www.roma1.infn.it/~mancinit/index.php?action=Blog&blogaction=$1	[NC,L,QSA]
</IfModule>

# array_key_exists('HTTP_MOD_REWRITE', $_SERVER);