# # Options +FollowSymLinks
# RewriteEngine On
# # Simple passthru for existing files (so we can still get to files that exist!)
# #RewriteCond %{REQUEST_FILENAME} -s [OR] RewriteCond %{REQUEST_FILENAME} -l [OR] RewriteCond %{REQUEST_FILENAME} -d RewriteRule ^.*$ - [NC,L]

<IfModule mod_rewrite.c>
   # SetEnv HTTP_MOD_REWRITE On

   RewriteEngine on

   RewriteBase /~mancinit/

   RewriteRule ^post/(.*)$ 	?action=Blog&blogaction=$1	[NC,L,QSA]

   RewriteCond %{REQUEST_FILENAME} !-f
   RewriteCond %{REQUEST_FILENAME} !-d
   # RewriteCond %{REQUEST_URI} ^(.*)index.php$
   RewriteRule ^(.*)$ 		?action=$1			[NC,L,QSA]
</IfModule>

# array_key_exists('HTTP_MOD_REWRITE', $_SERVER);